http:
  services:
    wordpress:
      loadBalancer:
        servers:
          - url: "http://wp:80"
  middlewares:
  {{- if hasPrefix "www." (env "DOMAIN" | default "localhost") }}
    wordpress-www-redirect:
      redirectRegex:
        regex: '^https?://[^/]+/?(.*)'
        replacement: 'https://{{ env "DOMAIN" }}/$1'
        permanent: true
  {{- end }}
    wordpress-uploads-redirect:
      redirectRegex:
        regex: '^https?://[^/]+/wp-content/uploads/(.*)'
        replacement: '/app/uploads/${1}'
        permanent: true
  {{- if eq (env "URI_SCHEME") "https" }}
    wordpress-https-redirect:
      redirectScheme:
        scheme: https
  {{- end }}
  routers:
  {{- if hasPrefix "www." (env "DOMAIN" | default "localhost") }}
    wordpress-apex-web:
      rule: 'Host(`{{ trimPrefix "www." (env "DOMAIN" | default "localhost") }}`)'
      entryPoints:
        - web
      priority: 110
      middlewares:
        - wordpress-www-redirect
      service: noop@internal
  {{- end }}
    wordpress-uploads-web:
      rule: 'Host(`{{ env "DOMAIN" | default "localhost" }}`) && PathPrefix(`/wp-content/uploads/`)'
      entryPoints:
        - web
      priority: 100
      middlewares:
        - wordpress-uploads-redirect
      service: noop@internal
  {{- if eq (env "URI_SCHEME") "https" }}
  {{- if hasPrefix "www." (env "DOMAIN") }}
    wordpress-apex-websecure:
      rule: 'Host(`{{ trimPrefix "www." (env "DOMAIN") }}`)'
      entryPoints:
        - websecure
      priority: 110
      middlewares:
        - wordpress-www-redirect
      service: noop@internal
      tls: {}
  {{- end }}
    wordpress-uploads-websecure:
      rule: 'Host(`{{ env "DOMAIN" }}`) && PathPrefix(`/wp-content/uploads/`)'
      entryPoints:
        - websecure
      priority: 100
      middlewares:
        - wordpress-uploads-redirect
      service: noop@internal
      tls:
        certResolver: letsencrypt
  {{- end }}
    wordpress-web:
      rule: 'Host(`{{ env "DOMAIN" | default "localhost" }}`)'
      entryPoints:
        - web
      {{- if eq (env "URI_SCHEME") "https" }}
      middlewares:
        - wordpress-https-redirect
      {{- end }}
      service: wordpress
  {{- if eq (env "URI_SCHEME") "https" }}
    wordpress-websecure:
      rule: 'Host(`{{ env "DOMAIN" }}`)'
      entryPoints:
        - websecure
      service: wordpress
      tls:
        certResolver: letsencrypt
        domains:
          - main: '{{ env "DOMAIN" }}'
            sans:
              - '{{ trimPrefix "www." (env "DOMAIN") }}'
  {{- end }}
