defaults
auth off
tls off
syslog on

account default
host {{ getenv "LIBOPS_SMTP_HOST" }}
port {{ getenv "LIBOPS_SMTP_PORT" }}
{{- if ne (getenv "SMTP_FROM") "" }}
from {{ getenv "SMTP_FROM" }}
{{- else }}
from info@{{ replace (getenv "DOMAIN") "www." "" -1 }}
{{- end }}
