root /var/www/bedrock/web;
index index.php;

error_log /dev/stderr;
access_log /dev/stdout combined;

location / {
    try_files $uri $uri/ /index.php?$args;
}

location = /xmlrpc.php {
    deny all;
}

location ~ \.php$ {
    try_files $uri =404;
    fastcgi_pass unix:/var/run/php-fpm83/php-fpm83.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    {{ if eq (getenv "WORDPRESS_ENABLE_HTTPS") "true" }}
    fastcgi_param HTTPS on;
    fastcgi_param HTTP_SCHEME https;
    {{ end }}
    include fastcgi_params;
}

location ~* \.(css|gif|ico|jpeg|jpg|js|png|svg|webp)$ {
    expires max;
    log_not_found off;
}

location ~ /\. {
    deny all;
}
